.cabeçalho {
    display: flex;
    justify-content: center;
    background-color: rgb(209, 102, 161);
    margin: 0;
    padding: 40px 40px;
}
.conteúdo {
    font-family: Arial, Helvetica, sans-serif;
}
.cabeçalho-título1{
    font-size: 70PX;
    color: rgb(99, 12, 170);
}
.cabeçalho-título2 {
    color: rgb(236, 223, 223);
} 
.cabeçalho-título1 {
    text-align: center;
    margin: 0;
    padding: 2%; 15%; 



}
.cabeçalho-lista{
    color: rgb(32, 31, 31);
}
.cabeçalho-imagem
    width: 120px;
    margin: 0;
    padding: 40px 40 px;
}
.Literatura é a nossa PRAIA{
    background-color: rgb(176, 176, 231);
}
.Literatura é a nossa PRAIA-parágrafo{
    background-color: rgb(139, 76, 106);
    margin: :0
    padding 10%; 2%;
    
}