.cabeçalho {
    display: flex;
    justify-content: center;
    background-color: rgb(51, 94, 79);
    margin: 0;
    padding: 40px 40px;
}
.conteúdo {
    font-family: Arial, Helvetica, sans-serif;
}
.cabeçalho-título1{
    font-size: 70PX;
    color: rgb(221, 34, 34);
}
.cabeçalho-título2 {
    color: rgb(236, 223, 223);
} 
.cabeçalho-título1 {
    text-align: center;
    margin: 0;
    padding: 2%; 2%;



}
.cabeçalho-lista{
    color: white;
}
.cabeçalho-imagem{
    width: 120px;
    margin: 0;
    padding: 40px 40 px;
}
.Letras com café{
    background-color: blue;
}
.Letras com café-parágrafo{
    background-color: blueviolet;
    margin: :0
    padding 20%; 2%;
    c
}