.cabeçalho {
    display: flex;
    justify-content: center;
    background-color: rgb(51, 94, 79);
    margin: 0;
    padding: 300PX 300PX;
}
.cabeçalho-título1{
    font-size: 85PX;
    color: rgb(221, 34, 34);
}
.cabeçalho-título2 {
    color: rgb(236, 223, 223);
} 

.cabeçalho-lista{
    color: white;
}
.cabeçalho-imagem{
    width: 120px;
}